.vs/
bin/
obj/Debug/
quanlidiem/bin/Debug/
quanlidiem/obj/Debug/
/.vs/quanlidiem/FileContentIndex/05d430c8-f3cf-4510-95d1-fdfac4b2f55d.vsidx
/.vs/quanlidiem/FileContentIndex/1faf7f99-58d0-40c1-963e-0322e0756566.vsidx
/.vs/quanlidiem/FileContentIndex/aa3ecd4d-97a7-488b-9210-fa98f956b5bb.vsidx
/.vs/quanlidiem/FileContentIndex/357a6242-098b-4c93-a43d-895440579c7c.vsidx
/quanlidiem/obj/Debug/quanlidiem.pdb
/quanlidiem/obj/Debug/quanlidiem.exe
/quanlidiem/obj/Debug/quanlidiem.csproj.ResolveComReference.cache
/quanlidiem/obj/Debug/quanlidiem.csproj.AssemblyReference.cache
/quanlidiem/obj/Debug/quanlidiem.csproj.CoreCompileInputs.cache
/quanlidiem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/quanlidiem/obj/Debug/quanlidiem.csproj.FileListAbsolute.txt
/quanlidiem/obj/Debug/quanlidiem.csproj.GenerateResource.cache
/quanlidiem/quanlidiem.csproj
